ion-header , header-ios{
    --ion-background-color: #6dd500;
    }
ion-title {
    color:white;text-align: center;
}
ion-content{
    --ion-background-color: #ffffff;
}
ion-item{
    border-bottom: none !important;
}
.or {
    overflow: hidden;
    text-align: center;
  }
  
  .or:before,
  .or:after {
    background-color: #797979;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .or:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .or:after {
    left: 0.5em;
    margin-right: -50%;
  }
  